<!DOCTYPE html>

<html>
@{
    string staticUrl = Duanzu.TXCommons.BasicsClass.PubConstant.StaticBaseUrl;
    string version = "?v=" + Duanzu.TXCommons.BasicsClass.PubConstant.Version;
    Duanzu.TXCommons.BasicsClass.SeoModel seo = ViewBag.seo;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="@(seo == null ? " " : seo.Keywords)" />
    <meta name="description" content="@(seo == null ? " " : seo.Description)" />
    <title>@(seo == null ? "" : seo.Title)</title>
    <link rel="stylesheet" type="text/css" href="@(staticUrl)web/agent/Resource/css/common/public.css@(version)" />
    <link rel="stylesheet" type="text/css" href="@(staticUrl)web/agent/Resource/css/common/base.css@(version)" />
    <link rel="stylesheet" type="text/css" href="@(staticUrl)web/agent/Resource/css/short/common.css@(version)" />
    <!-- InstanceBeginEditable name="head" -->
    <link rel="stylesheet" type="text/css" href="@(staticUrl)web/agent/Resource/css/short/main.css@(version)">
    <link rel="stylesheet" type="text/css" href="@(staticUrl)web/agent/Resource/js/common/lib/calendar/kalendae.css">
    <script type="text/javascript" src="@(staticUrl)web/agent/Resource/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@(staticUrl)web/agent/Resource/js/common/lib/calendar/kalendae.standalone.js"></script>
    @*验证插件*@
    <script language="javascript" type="text/javascript" src="@(staticUrl)web/base/js/jquery.validate.min.js"></script>
    <script src="/Scripts/complete_validate.js"></script>
    @*富文本框资源文件*@
    <script type="text/javascript" src="/Scripts/umeditor1.2/umeditor.config.js@(version)"></script>
    <script type="text/javascript" src="/Scripts/umeditor1.2/umeditor.js@(version)"></script>
    <script type="text/javascript" src="/Scripts/umeditor1.2/lang/zh-cn/zh-cn.js"></script>
    <link rel="stylesheet" type="text/css" href="/Scripts/umeditor1.2/themes/default/css/umeditor.css" />
    @*上传图片资源文件*@
    <link rel="stylesheet" type="text/css" href="@(staticUrl)web/base/js/plugs/uploadify/uploadify.css" />
    <script type="text/javascript" src="@(staticUrl)web/base/js/plugs/uploadify/swfobject.js"></script>
    <script type="text/javascript" src="@(staticUrl)web/base/js/plugs/uploadify/jquery.uploadify.v2.1.4.js@(version)"></script>
    @*地图标注*@     
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.5&ak=tQf5c1hisWzMwBmiFcjbEwXYdusk5n3F"></script>
</head>
<body>
    @Html.Partial("Top")
    <form id="ShortRentForm" name="ShortRentForm" action="/ShortRent/SubmitData"
          method="post">
        <div class="mainer">
            <!-- InstanceBeginEditable name="main可编辑的区域" -->
            <div class="lzh_dzfbfy w1200">
                <h5 class="tit mt20"><img src="@(staticUrl)web/agent/Resource/images/short/pattern/ff_tit_img.png" alt="">发布短租房源</h5>
                <div class="con">
                    <dl class="clearfix dl1">
                        <dt class="fl">
                            <span class="star">*</span>房源地址：
                        </dt>
                        <dd class="fl add_dz">
                            <a class="add_dz_tit" href="javascript:void(0);">选择地址</a>
                            <div class="add_dz_con" style="display: none;">
                                <ul>
                                    <li class="clearfix">
                                        <span class="fl">
                                            @*<input class="w1 input" id="ProvinceID" name="ProvinceID" type="text" placeholder="省">*@
                                            <select id="ProvinceID" name="ProvinceID" class="w1 input">
                                                @{
                                                    foreach (var item in ViewBag.Provinces)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                }
                                            </select>
                                        </span>
                                        <span class="fl">
                                            @*<input class="w1 input" id="CityID" name="CityID" type="text" placeholder="市">*@
                                            <select id="CityID" name="CityID" class="w1 input">
                                                <option value="0">选择城市</option>
                                                @*@{
                                                        foreach (var item in ViewBag.Citys)
                                                        {
                                                            <option value="@item.Value">@item.Text</option>
                                                        }
                                                    }*@
                                            </select>
                                        </span>
                                        <span class="fl">
                                            @*<input class="w1 input m0" id="AreaID" name="AreaID" type="text" placeholder="区/县">*@
                                            <select id="AreaID" name="AreaID" class="w1 input">
                                                <option value="0">选择区域</option>
                                                @*@{
                                                        foreach (var item in ViewBag.Districts)
                                                        {
                                                            <option value="@item.Value">@item.Text</option>
                                                        }
                                                    }*@
                                            </select>

                                        </span>
                                    </li>
                                    <li class="mt20">
                                        <input class="w2 input" id="Address" name="Address" type="text" placeholder="详细地址门牌号等">
                                    </li>
                                </ul>
                                <p class="lh30 ta_l col_4">
                                    <span class="icon icon7 ver_m mr6"></span>请补充省份、城市、区县、详细地址、门牌号
                                </p>
                                <div class="ta_l address" id="allmap">
                                    @*<img width="100%" height="100%" src="@(staticUrl)web/agent/Resource/images/short/pattern/address.png" alt="">*@
                                </div>
                                <p>
                                    <input id="Lng" name="Lng" value="" type="hidden" />
                                    <input id="Lat" name="Lat" value="" type="hidden" />
                                    <input id="BusinessID" name="BusinessID" value="" type="hidden" />
                                    <a href="javascript:void(0);" class="btn btn6">确定</a>
                                </p>                                 
                            </div>
                        </dd>
                        <dd style="display:none;">
                            黑龙江，哈尔滨，香坊，蒲葵大街103号 北京，北京，朝阳，光华路22号
                        </dd>
                    </dl>
                    <dl class="clearfix dl2">
                        <dt class="fl">
                            <span class="star">*</span>出租方式：
                        </dt>
                        <dd class="fl">
                            <label><input type="radio" id="RentType_1" name="RentType" value="1" checked="checked"> 整套房子/公寓</label>
                        </dd>
                        <dd class="fl">
                            <label><input type="radio" id="RentType_2" name="RentType" value="2"> 独立房间</label>
                        </dd>
                        <dd class="fl">
                            <label><input type="radio" id="RentType_3" name="RentType" value="3"> 合住房间</label>
                        </dd>
                    </dl>
                    <dl class="clearfix dl3">
                        <dt class="fl">
                            <span class="star">*</span>房源类型：
                        </dt>
                        <dd class="fl">
                            <select id="HouseType" name="HouseType">
                                <option value="1">住宅</option>
                                <option value="2">四合院</option>
                                <option value="3">民宿</option>
                                <option value="4">别墅</option>
                                <option value="5">公寓</option>
                                <option value="6">酒店式公寓</option>
                                <option value="7">农家乐</option>
                            </select>
                        </dd>
                    </dl>
                    <dl class="clearfix dl4">
                        <dt class="fl">
                            <span class="star">*</span>房屋户型：
                        </dt>
                        <dd class="fl fwhx">
                            <span>
                                <input id="Room" name="Room" type="text">
                                <span>室</span>
                            </span>
                            <span>
                                <input id="Hall" name="Hall" type="text">
                                <span>厅</span>
                            </span>
                            <span>
                                <input id="Toilet" name="Toilet" type="text">
                                <span>卫</span>
                            </span>
                            <span>
                                <input id="Kitchen" name="Kitchen" type="text">
                                <span>厨</span>
                            </span>
                            <span>
                                <input id="Balcony" name="Balcony" type="text">
                                <span>阳台</span>
                            </span>
                            <span>
                                <input id="Bed" name="Bed" type="text">
                                <span>张床</span>
                            </span>
                            <span>
                                <input id="Square" name="Square" type="text">
                                <span>平米</span>
                            </span>
                        </dd>
                    </dl>
                    <dl class="clearfix dl5">
                        <dt class="fl">
                            <span class="star">*</span>最多宜居人数：
                        </dt>
                        <dd class="fl">
                            <select id="PeopleNumber" name="PeopleNumber">
                                <option value="1">1位房客</option>
                                <option value="2">2位房客</option>
                                <option value="3">3位房客</option>
                            </select>
                        </dd>
                    </dl>
                    <dl class="clearfix dl6">
                        <dt class="fl">
                            <span class="star">*</span>标题：
                        </dt>
                        <dd class="fl">
                            <input id="Title" name="Title" type="text">
                        </dd>
                    </dl>
                    <dl class="clearfix dl7">
                        <dt class="fl">
                            房源特色：
                        </dt>
                        <dd class="fl">
                            @{
                                foreach (var item in ViewBag.Ts)
                                {
                                    <label><input type="checkbox" id="Ts_@item.DictID" name="Ts" value="@item.DictID"> @item.Name</label>
                                }
                            }
                        </dd>
                    </dl>
                    <dl class="clearfix dl8">
                        <dt class="fl">
                            <span class="star">*</span>配套设施：
                        </dt>
                        <dd class="fl">
                            @{
                                foreach (var item in ViewBag.Room)
                                {
                                    <label><input type="checkbox" id="SupportingFacilities_@item.DictID" name="SupportingFacilities" value="@item.DictID"> @item.Name</label>
                                }
                            }
                        </dd>
                    </dl>
                    <dl class="clearfix dl9" style=" position:relative; z-index:0;">
                        <dt class="fl">
                            <span class="star">*</span>房源描述：
                        </dt>
                        <dd class="fl mt8">
                            <div id="descriptsion-box">
                                <textarea id="desc" name="HouseRemark" style="width: 540px; height: 140px;"></textarea>
                                <span id="desc_msg"></span>
                            </div>
                        </dd>
                    </dl>
                    <dl class="clearfix dl10">
                        <dt class="fl">
                            <span class="star">*</span>上传房源图片：
                        </dt>
                        <dd class="fl mt5">
                            <p>默认第一张室内图为封面，每张最大10M，支持jpg/gif/png格式</p>
                            <div class="up_imgs clearfix">
                                @{Html.RenderAction("UploadPiture", "ShortRent");}
                            </div>
                        </dd>
                    </dl>
                    <dl class="clearfix dl11">
                        <dt class="fl">
                            <span class="star">*</span>选择可住日期：
                        </dt>
                        <dd class="fl">
                            <div class="input">
                                <input type="text" class="sp1" id="mydate" name="mydate" value="年 — 月 — 日">
                                <span class="sp2">您可以选择近2个月可以出租房屋的时间</span>
                            </div>
                        </dd>
                    </dl>
                    <dl class="clearfix dl12">
                        <dt class="fl">
                            <span class="star">*</span>价格：
                        </dt>
                        <dd class="fl">
                            <div class="input">
                                <input id="RentPrice" name="RentPrice" type="text">
                                <span class="dw">元/每晚</span>
                            </div>
                        </dd>
                    </dl>
                    <dl class="clearfix dl13">
                        <dt class="fl">
                            <span class="star">*</span>房客违约责任：
                        </dt>
                        <dd class="fl wyzr">
                            <div class="rzsj">
                                <dl style="left:125px;">
                                    <dt>
                                        <img src="@(staticUrl)web/agent/Resource/images/short/pattern/step1.png" alt="">
                                        <p class="tm">入住前一天<br>12：00</p>
                                    </dt>
                                    <dd>如取消订单，<br>房费全部退还</dd>
                                </dl>
                                <dl style="left:430px;">
                                    <dt>
                                        <img src="@(staticUrl)web/agent/Resource/images/short/pattern/step2.png" alt="">
                                        <p class="tm">入住当天<br>12：00</p>
                                    </dt>
                                    <dd>如取消订单，<br>扣除1天的房费。</dd>
                                </dl>
                                <dl style="left:740px;">
                                    <dt>
                                        <img src="@(staticUrl)web/agent/Resource/images/short/pattern/step2.png" alt="">
                                        <p class="tm">退房当天<br>12：00</p>
                                    </dt>
                                    <dd>如提前退房，<br>扣除1天的房费。</dd>
                                </dl>
                            </div>
                            <div class="lh30 col666 mb10">
                                1、若距入住日中午12：00大于等于
                                <select id="RentBeforeDays" name="RentBeforeDays">
                                    <option value="1">1天</option>
                                    <option value="2">2天</option>
                                    <option value="3">3天</option>
                                    <option value="4">4天</option>
                                </select>
                                （1*24小时），订金全额退还。
                            </div>
                            <div class="lh30 col666">
                                2、否则，扣除后续未消费的
                                <select id="DeductDays" name="DeductDays">
                                    <option value="1">1天</option>
                                    <option value="2">2天</option>
                                    <option value="3">3天</option>
                                    <option value="4">4天</option>
                                </select>
                                的每日房费作为违约金，并支付给房东，房费不足以实际房费为准。
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="colf60">（包含未入住和提前退房两类情况）</span>
                            </div>
                        </dd>
                    </dl>
                    <dl class="clearfix dl14">
                        <dt class="fl">
                            <span class="star">*</span>联系人：
                        </dt>
                        <dd class="fl">
                            <input id="Contact" name="Contact" type="text">
                        </dd>
                    </dl>
                    <dl class="clearfix dl15">
                        <dt class="fl">
                            <span class="star">*</span>联系电话：
                        </dt>
                        <dd class="fl">
                            <input id="Mobile" name="Mobile" type="text">
                        </dd>
                    </dl>
                    <div class="ad">
                        <img src="@(staticUrl)web/agent/Resource/images/short/pattern/ad.png" alt="">
                    </div>
                    <div class="pingan">
                        <img src="@(staticUrl)web/agent/Resource/images/short/pattern/pingan.png" alt="">
                        会员账号资金安全由中国平安财产保险股份有限公司北京分公司承保     保单号：10102001900186010610
                        <a class="btn btn2" href="javascript:void(0);">点击查看保单详情</a>
                    </div>
                    <div class="w1200 ta_c pingan_con" style="margin-top: 20px; display: none;">
                        <img src="@(staticUrl)web/agent/Resource/images/short/pattern/pinganzhengshu.png" alt="">
                    </div>
                    <p class="xieyi ta_c mt20"><input name="agree" type="checkbox">&nbsp;&nbsp;已阅读《<a class="a_2" href="#">短租房源服务协议</a>》</p>
                    <p class="ta_c mt5 submit">
                        <input id="UserID" name="UserID" value="" type="hidden" />

                        <a class="btn btn6" href="javascript:void(0);" onclick="PayHouse()">支付服务费  发保真房</a>
                    </p>
                    <p class="ta_c mt10 mb20" style="color:#f70000;">发布虚假房源，扣除相应保证金</p>
                </div>
            </div>
            <!-- InstanceEndEditable -->
        </div>
    </form>

    <script type="text/javascript">
        //添加新地址
        function add_adress() {
            var $el = $(".add_dz_con");
            $el.click(function (e) {
                e.stopPropagation();
                $(".add_dz_con").show();
            });
            $(".add_dz_tit").click(function (e) {
                e.stopPropagation();
                $(".add_dz_con").show();
            });
            $(".add_dz_con .btn6").click(function (e) {
                e.stopPropagation();
                $(".add_dz_con").hide();
            });
            $(document).on('click', function (e) {
                if ($(e.target) != $el) {
                    $(".add_dz_con").hide();
                }
            });
        }
        add_adress();

        //富文本框
        UM.getEditor('desc');

        /* 选择入住日期 */
        var f4 = new Kalendae.Input('mydate', {
            attachTo: document.body,
            months: 3,
            direction: "future-60day",
            useYearNav: false,
            mode: 'multiple',
            closeButton: false,
            blackout: function () {
                $(".k-btn-next-month").hide();
            }
        });
        function clearDate() {
            var $el = $("<div class='clearDate clear-selected'>清空日期</div>");
            $el.appendTo(".kalendae");
        }


        //中国平安保险
        function pingAn() {
            $(".pingan").click(function () {
                $(".pingan_con").toggle();
            });
        }
        pingAn();

        // 百度地图API功能
        var map = new BMap.Map("allmap");  // 创建Map实例
        //单击获取点击的经纬度
        map.addEventListener("click", function (e) {
            alert(e.point.lng + "," + e.point.lat);
        });
        //事件加载
        $(function () {
            clearDate();            
            //省份改变加载城市
            $("#ProvinceID").change(function () {
                $('#CityID').empty();
                $('#AreaID').empty();
                $("#CityID").html("<option value='0'>选择城市</option>");
                $("#AreaID").html("<option value='0'>选择区域</option>");
                $.ajax({
                    type: "get",
                    url: "/ShortRent/Cities",
                    data: { ProvinceId: $(this).val() },
                    success: function (msg) {
                        $("#CityID").append("<option value=" + msg.data.Value + ">" + msg.data.Text + "</option>");
                    }
                });
                var shengfenVal=$("#ProvinceID  option:selected").text();
                map.centerAndZoom(shengfenVal, 12);
            });
            //城市改变加载区域
            $("#CityID").change(function () {
                $('#AreaID').empty();
                $("#AreaID").html("<option value='0'>选择区域</option>");
                $.ajax({
                    type: "get",
                    url: "/ShortRent/Districts",
                    data: { cityId: $(this).val() },
                    success: function (msg) {
                        //alert(msg.data);
                        for (var i = 0; i < msg.data.length; i++) {
                            $("#AreaID").append("<option value=" + msg.data[i].Value + ">" + msg.data[i].Text + "</option>");
                        }
                    }
                });
                var cityVal = $("#CityID  option:selected").text();
                map.centerAndZoom(cityVal, 12);
            });
            //区域改变
            $("#AreaID").change(function () {                
                var cityVal = $("#AreaID  option:selected").text();
                map.centerAndZoom(cityVal, 12);
            });

            //表单验证
            //form_validate.form_vali();
        })
        function ReadMe() {
            if (!$("[name=agree]").is(':checked')) {
                alert("请您认真阅读并勾选《短租房源服务协议》");
                return false;
            }
            return true;
        }
        //提交表单数据
        function PayHouse() {
            if (!ReadMe()) return;

            $("#ShortRentForm").submit();
        }
    </script>
    @*整租合租上传图片*@
    <script type="text/javascript">
        var livingRoomSort = false;
        var roomTypeSort = false;
        function getByteCount(str) {
            return str.replace(/[^\x00-\xFF]/g, '**').length;
        }
        //单张图片
        function UploadAloneCallBack(response, id, count, typeId, guid) {
            if (response) {
                var splitresult = response.split(',');
                var pictureurl = splitresult[0];
                var imgId = splitresult[1];

                var htmlStr = "<li class=\"ay_hideEle\" style=\"display:block;height:126px;width:106px;overflow: hidden;\"><p name=\"img\"style=\"width:100%;\"><a data=\"" + guid + "_" + imgId + "\" href=\"javascript:void(0)\" class=\"deleted\"></a>"
                       + "<a class=\"fm\" href=\"javascript:void(0)\" style=\"position:absolute;top:32px;left:0px;right:0px;text-align:center;height:20px;line-height:20px;background:#fff;color:#333;opacity:0.8;filter:alpha(opacity=80);display:none;\" onclick=\"AloneSetCover('" + imgId + "','" + guid + "')\">设为封面</a>"
                       + "<a id=\"flag" + imgId + "\" class=\"tb\" style=\"position:absolute;top:0px;left:0px;background:#fff;color:#45b035;font-size:12px;padding:0px 3px;display:none;\">封面</a>"
                       + "<img PictureType=\"OTHER\" ImgId=\"" + imgId + "\" class=\"sctp_a1\" width=\"106px\" height=\"125px\" src=\"" + pictureurl + "\" /></p>"
                       + "<input type=\"text\" picturetype=\"OTHER\" guid=\"" + guid + "\" ImgId=\"" + imgId + "\" value=\"照片描述\" style=\"width:96%;height: 20px;\" class=\"ay_desHouse\" />"
                       + "<select class=\"" + typeId + "pic_sel\"><option value=\"\">选择分类</option><option value=\"ROOMTYPE\">户型图</option>"
                       + "<option value=\"LIVINGROOM|ALIVINGROOM\">客厅图</option><option value=\"LIVINGROOM|BEDROOM\">卧室图</option>"
                       + "<option value=\"LIVINGROOM|KITCHEN\">厨房图</option><option value=\"LIVINGROOM|RESTAURANT\">餐厅图</option>"
                       + "<option value=\"LIVINGROOM|STUDY\">书房图</option><option value=\"LIVINGROOM|BALCONY\">阳台图</option>"
                       + "<option value=\"LIVINGROOM|CHILDRENROOM\">儿童房图</option><option value=\"LIVINGROOM|BATHROOM\">卫浴图</option>"
                       + "<option value=\"LIVINGROOM|THEENTRANCE\">玄关图</option><option value=\"LIVINGROOM|GARDEN\">花园图</option>"
                       + "<option value=\"LIVINGROOM|CLOAKROOM\">衣帽间图</option><option value=\"LIVINGROOM|BARCOUNTER\">吧台图</option>"
                       + "<option value=\"LIVINGROOM|CORRIDOR\">走廊图</option><option value=\"VILLAGE\">小区环境图</option><option value=\"OTHER\">其它</option></select></li>";
                $("#" + id).append(htmlStr); //清空
            }
        }

        //绑定封面显示
        $('.ay_hideEle p').live('mouseover mouseout', function (event) {
            if (event.type == "mouseover") {
                if ($(this).find(".tb").css("display") == "none") {
                    $(this).find('.fm').show();
                }
            } else {
                $(this).find('.fm').hide();
            }
        });

        //显示标识
        function AloneSetCover(imgId, guid) {
            $(".ay_hideEle p").find(".tb").hide();
            $.ajax({
                url: '@(Duanzu.TXCommons.BasicsClass.PubConstant.ImgUploadBaseUrl)RentHouse/SetCover.ashx?pid=' + imgId + "&guid=" + guid,
                type: "get",
                dataType: "jsonp",
                jsonp: "jsonpCallback",
                jsonpCallback: "success_jsonpCallback",
                success: function (data) {
                    if (data.result == 1) {
                        $(".ay_hideEle p").find("#flag" + imgId).show();
                    } else {
                        alert("设置封面图出错!");
                    }
                },
                error: function () {
                    alert("设置封面图出错!");
                }
            });
        }

        //绑定照片描述事件
        $('.ay_desHouse').live('blur focus', function (event) {
            if (event.type == "focusin") {
                if ($(this).val() == "照片描述") $(this).val("");
            } else if (event.type == "focusout") {
                if ($(this).val() == "") {
                    $(this).val("照片描述");
                } else {
                    if (CheckTextLength($(this).val())) {
                        if ($(this).attr("ImgId") != undefined) {
                            var ptype = $(this).attr("PictureType");
                            var guid = $(this).attr("guid");
                            //SaveImageBoxDesc(desc, id, type,guid)
                            SaveImageBoxDesc($(this).val(), $(this).attr("ImgId"), ptype, guid);
                        }
                    }
                }
            }
        });

        function SetCover(type, id) {
            $(".list_img .pcls i").remove();
            $("#imageBox_" + id + " P").append("<i></i>");
        }

        function AutoCover() {
            $("#LongType").val("");
            $("#LongId").val("");
            if ($("#Div_Imgs .pcls i").length > 0) {//如果用户设置过了
                $("#LongType").val($("#Div_Imgs .pcls i").parent().find(".imgcls").attr("PictureType"));
                $("#LongId").val($("#Div_Imgs .pcls i").parent().find(".imgcls").attr("ImgId"));
                return;
            }
            var img = $(".list_img .pcls .imgcls:eq(0)");
            if (img.length > 0) {
                $("#LongType").val(img.attr("PictureType"));
                $("#LongId").val(img.attr("ImgId"));
                return;
            }
        }
        function RemoveImg(type, showpictureType, idx, guid) {
            switch (showpictureType) {
                case "ALIVINGROOM":
                case "BEDROOM":
                    $("#Li_" + type + "_" + showpictureType + "_" + idx + " P").html("<img  src=\"@(staticUrl)web/user/images/img/zw1.jpg\" />");
                    break;
                default:
                    var url = "";
                    @*@if (Duanzu.TXCommons.BasicsClass.PubConstant.AllowSpecialBrower.Contains(Request.Browser.Browser.ToLower()))
                    {
                        url = "/Upload/Html5UploadAlone?guid=" + guid + "&picturetype=OTHER&index=" + idx + "&maxnum=22&cityid=0";
                    }
                    else {
                        url = "/Upload/UploadAlone?guid=" + guid + "&picturetype=OTHER&index=" + idx + "&maxnum=22&cityid=0";
                    }*@
                    $.get(url, function (result) {
                        $("#Li_" + type + "_" + showpictureType + "_" + idx).replaceWith(result);
                    });
                    break;
            }
        }

        //删除图片
        $("p[name=img] .deleted").live("click", function () {
            if (confirm("确定执行当前操作？")) {
                var dataStr = $(this).attr("data");
                if (dataStr) {
                    var $input = $(this).parent().parent().find(".ay_desHouse");
                    var guid = $input.attr("guid");
                    var imgId = $input.attr("imgid");
                    var pictureType = "OTHER";
                    DeleteImageBox(guid, pictureType, imgId);
                    $(this).parent().parent().remove();

                }
            }
        });
        //删除
        function DeleteImageBox(guid, pictureType, id) {
            var cityid = $("#CityID").val();//guid=30833f49-9985-47ea-90a3-88fe34c1ab16&pictureType=OTHER&minnum=0&cityId=253&id=13710&callbackparam=success_jsonpCallback&_=1446981314672
            var url = '@(Duanzu.TXCommons.BasicsClass.PubConstant.ImgUploadBaseUrl)RentHouse/delete.ashx?guid=' + guid + "&pictureType=" + pictureType + '&minnum=0&cityId=' + cityid + '&id=' + id;
            $.ajax({
                url: url,
                type: "get",
                dataType: "jsonp",
                jsonp: "callbackparam",
                jsonpCallback: "success_jsonpCallback",
                success: function (data) {
                    //RemoveImg(type, showpictureType, idx);
                },
                error: function () { alert("删除图片出错!"); }
            });
        }

        //保存房源照片描述
        function SaveImageBoxDesc(desc, id, type, guid) {
            if ($.trim(desc) == "照片描述") {
                return;
            }
            //alert("aaa");
            desc = escape(desc);
            var cityid = $("#CityID").val();
            var url = "@(Duanzu.TXCommons.BasicsClass.PubConstant.ImgUploadBaseUrl)RentHouse/UpdateDesc.ashx?guid=" + guid + "&picturetype=" + type + "&cityId=" + cityid + "&id=" + id + "&desc=" + desc;
            //alert(url);
            $.ajax({
                url: url,
                type: "post",
                dataType: "jsonp",
                jsonp: "callbackparam",
                jsonpCallback: "success_jsonpCallback",
                success: function (data) {
                    //alert("vvv");
                },
                error: function () { alert("保存失败"); }
            });
        }

        //修改图片类别
        $(".pic_sel").live({
            click: function () {
                $(this).attr("lastValue", $(this).val());
            },
            change: function () {
                if ($(this).parent().find(".imgcls").length < 1) {
                    alert("请先上传图片");
                    $(this).get(0).selectedIndex = 0;
                    return;
                }
                var lastValue = $(this).attr("lastValue");
                var lArr = lastValue.split('|');
                if (lArr.length > 1) lastValue = lArr[0];
                var arr = $(this).val().split('|');
                if (arr[0] == lastValue) return;
                var imgId = $(this).parent().find(".imgcls").attr("imgid");
                if (lastValue != undefined && lastValue != "" && imgId != undefined && imgId != "") {
                    var cityid = $("#CityID").val();
                    var showpictureType = "";
                    var paraStr = "guid=guid&id=" + imgId + "&oldpicturetype=" + lastValue + "&newpicturetype=" + arr[0] + "&cityId=" + cityid;
                    if (arr.length > 1) {
                        showpictureType = arr[1];
                        paraStr += "&showpictureType=" + showpictureType;
                    }
                    var url = "@(Duanzu.TXCommons.BasicsClass.PubConstant.ImgUploadBaseUrl)RentHouse/ChangePictureType.ashx?" + paraStr;
                    //alert(url);
                    $.ajax({
                        url: url,
                        type: "post",
                        dataType: "jsonp",
                        jsonp: "callbackparam",
                        success: function (data) {
                            //alert("更改成功!");
                        },
                        error: function () { alert("更改失败"); }
                    });
                }
            }
        });

        //输入字符长度
        function CheckTextLength(value) {
            if (len(value) > 30) {
                alert("限30个字符内，1个汉字等于2个字符。");
                return false;
            }
            else {
                return true;
            }
        }
        function len(s) {
            var l = 0;
            var a = s.split("");
            for (var i = 0; i < a.length; i++) {
                if (a[i].charCodeAt(0) < 299) {
                    l++;
                } else {
                    l += 2;
                }
            }
            return l;
        }
    </script>
    @Html.Partial("Footer")
</body>
</html>
